@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Raleway');

$quicksand: 'Quicksand', sans-serif;
$raleway: 'Raleway', sans-serif;

body {
  font-family: $raleway;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $quicksand;
  font-weight: 300;
}
