html, body, header, nav, h1, a,
ul, li, main, button,
section, img, div, h2, p, form, label, input, textarea, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: inherit;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
