.user-nav-options {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.user-nav-options li {
  margin: auto 12px;
}

.user-nav-options li button {
  padding: 8px;
}
