.splash {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url(http://res.cloudinary.com/dpgudhebt/image/upload/v1484899897/magic-cube-cube-puzzle-play-54101_kaeq1l.jpg);
  background-size: cover;
  color: white;
  font-weight: bold;
  background-blend-mode: overlay;
  background-color: #575757;

    div {
      position: absolute;
      top: 200px;
      right: 200px;
      width: 450px;

      h2 {
        font-size: 40px;
      }

      h4 {
        padding-left: 20px;
      }
    }
}

.splash-nav-session {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.splash-nav-session li {
  margin: auto 12px;
}

.splash-nav-session li button {
  padding: 8px;
}

.splash main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash footer {
  height: 50px;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
}

.session-form {
  position: absolute;
  top: 75px;
  right: 165px;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 5px 0 $nav-color;
}

.session-form form label {
  margin: 5px;
}
