.splash {
  height: 100%;
}

.splash nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  border-bottom: 3px solid black;
  position: relative;
}

.splash nav div {
  margin: 5px;
}

.splash-nav-session {
  display: flex;
  flex-direction: row;
}

.splash-nav-session {
  margin-right: 20px;
}

.splash-nav-session li {
  margin: 15px;
}

.splash-nav-session li button {
  padding: 8px;
}

.logo {
  text-align: center;
}

.splash main {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.splash footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
}

.session-form {
  position: absolute;
  top: 75px;
  right: 165px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  padding: 20px;
  width: 200px;
}

.session-form form label {
  margin: 5px;
}
