.team-partial {
  a {
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.team-partial-content {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 30px;

  .partial-index-item {
    width: 90%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0 1px 0 0 darkgrey;
    display: flex;
    justify-content: space-between;

    .item-info {
      width: 100%;
    }

    .item-header {
      width: 90%;
      padding: 0 10px;
    }

    button {
      width: 100px;
      text-align: center;

      &.inactive-button {
        color: grey;
        border: 1px solid grey;

        &:hover, &:active {
          color: grey;
          background-color: white;
          box-shadow: 0 1px 0 0 darkgrey;
          cursor: default;
        }
      }
    }
  }

  form {
    width: 60%;

    input[type="text"], textarea {
      width: 100%;
      margin: 10px;
    }

    textarea {
      height: 300px;
    }
  }
}
