.team-partial > a {
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.team-partial-content {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 30px;

  .partial-index-item {
    width: 90%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0 1px 0 0 darkgrey;

    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      &:hover .item-header h4 {
        text-decoration: underline;
      }
    }

    .item-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .members-icons {
        margin-bottom: 0;
        margin-left: 3px;
      }
    }

    .item-header {
      width: 90%;
      padding: 0 10px;
    }

    button {
      width: 100px;
      text-align: center;

      &.inactive-button {
        color: grey;
        border: 1px solid grey;

        &:hover, &:active {
          color: grey;
          background-color: white;
          box-shadow: 0 1px 0 0 darkgrey;
          cursor: default;
        }
      }
    }
  }

  form {
    width: 60%;

    input[type="text"], textarea {
      width: 100%;
      margin: 10px;
      padding: 10px;
    }

    textarea {
      height: 300px;
    }
  }
}
